*{
    /* box-sizing: border-box; */
    font-family: monospace;
}

#wrapper{
    padding: 20px 20px 20px 40px;
}

.table-settings{
    max-width: 900px;
}

.form{
    max-width: 900px;
}

.button{
    margin: 20px 0;
}

.nav-link{
    color:rgba(0,0,0,.9);
}

.canvas-menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    transform:  translateX(300px);
    transition: all 1s;
    z-index: 9999;
    background-color: darkgray
}

.canvas-menu.active{
    transform: none;
}



#recipeButton{
    margin: 10px auto;
}

.center-content{
    text-align: center;
}

.wrapper-recipe{
    display: none;
    position: relative;
    justify-content: center;
}

.wrapper-recipe p{
    text-align: left;
}

.wrapper-settings{
    display: none;
}


p.settings{
    font-size: 10px;
    color: rgba(0,0,0,.6);
}

.show-grid{
    display: grid;
}

.show-block{
    display: block;
}


.user-settings{
    margin: 20px;
}

.offcanvas{
    max-width: 300px;
}

.table-light{
    color: rgb(150, 150, 150);
}