/* --- General --- */
*{
    font-family: monospace;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: rgb(150, 150, 150);
}

#wrapper{
    padding: 20px 20px 20px 40px;
}

.button{
    margin: 20px 0;
}

.description{
    max-width: 900px;
}

/* --- Navbar / Offcanvas --- */

.nav-link{
    color:rgba(0,0,0,.9);
}

.offcanvas{
    max-width: 300px;
}

/* --- Tables --- */
.table-settings{
    max-width: 900px;
}

.table-light{
    color: rgb(150, 150, 150);
}

.page-link{
    color: black;
}

.page-link:hover{
    color: rgb(150, 150, 150);
}

.page-link:focus{
    box-shadow: 0 0 0 0.2rem rgb(150 150 150 / 50%);
}

.page-item.active .page-link{
    background-color: rgb(150, 150, 150);
    border-color: rgb(150, 150, 150);
}

/* --- Forms --- */
.form{
    max-width: 900px;
}

/* --- Index --- */
.center-content{
    text-align: center;
}

.portions-input{
    width: 60px;
    display: inline-block;
}

.portions-label{
    font-size: 1.1rem;
}

.amount{
    font-size: 0.9rem;
}

#recipe-button{
    margin: 10px auto;
}

p.diet-settings{
    font-size: 10px;
    color: rgba(0,0,0,.6);
}

.diet-settings:hover{
    cursor: pointer;
}

.wrapper-settings{
    display: none;
    width: 500px;
    text-align: left;
}


.wrapper-settings .form-check.form-switch{
    width: 200px;
    margin: 0 auto;
}

.show-block{
    display: block;
}


/* --- Print View --- */
@media print{
    *{
        font-size: 1.2rem;
    }
    
    h1{
       padding-top: 50pt; 
    }

    .navbar{
        display: none;
    }

    .offcanvas{
        display: none;
    }

    .offcanvas-backdrop{
        display: none;
    }

    .btn{
        display: none;
    }

    .settings{
        display: none;
    }

    .portions-input{
        border: none;
        font-weight: 800;
    }

    .wrapper-settings{
        display: none;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

}